[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 122 'niri msg action power-off-monitors' timeout 120 'sh ~/sylveryte/dotfiles/tools/scrlock.sh' before-sleep 'sh ~/sylveryte/dotfiles/tools/scrlock.sh'
Restart=on-failure
